*{
	box-sizing:border-box;
	font-family:Arial;
}


body{

	margin:0;

	background:#0f172a;

	color:white;

}



nav{

	height:70px;

	background:#111827;

	display:flex;

	align-items:center;

	justify-content:space-between;

	padding:0 50px;

}



nav a{

	color:#38bdf8;

	text-decoration:none;

}



.container{

	width:90%;

	margin:auto;

	padding:40px;

}



h1{

	font-size:40px;

}



.btn{

	display:inline-block;

	background:#2563eb;

	color:white;

	padding:12px 25px;

	border-radius:10px;

	text-decoration:none;

}



.projects{

	display:grid;

	grid-template-columns:
	repeat(auto-fit,minmax(250px,1fr));

	gap:25px;

	margin-top:40px;

}



.card{

	background:#1e293b;

	padding:25px;

	border-radius:15px;

	box-shadow:0 10px 20px #0005;

}



.status{

	color:#22c55e;

}



.delete{

	color:#ef4444;

}



.box{

	width:400px;

	margin:100px auto;

	background:#1e293b;

	padding:40px;

	border-radius:20px;

}



input{

	width:100%;

	padding:12px;

	margin:10px 0;

	border-radius:8px;

	border:none;

}



button{

	background:#2563eb;

	color:white;

	padding:12px 30px;

	border:none;

	border-radius:8px;

	cursor:pointer;

}
.avatar{

width:120px;

height:120px;

border-radius:50%;

object-fit:cover;

}


.log{

background:#020617;

padding:20px;

margin-top:30px;

border-radius:15px;

font-family:monospace;

}


pre{

color:#22c55e;

}


button:hover{

transform:scale(1.05);

}
