<!DOCTYPE html>

<html>

<head>

<title>binES Dashboard</title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<nav>

<h2>binES</h2>

<a href="/logout">
Logout
</a>

</nav>



<div class="container">


<h1>
Dashboard
</h1>


<p>
Welcome {{current_user.username}}
</p>



<a class="btn" href="/create">
+ New Project
</a>



<div class="projects">


{% for p in projects %}


<div class="card">


<h2>
{{p.name}}
</h2>


<p>
Status:
<span class="status">
{{p.status}}
</span>
</p>


<p>
File:
{{p.file}}
</p>



<a class="delete"
href="/delete/{{p.id}}">
Delete
</a>


</div>


{% endfor %}


</div>


</div>


</body>

</html>
