<!DOCTYPE html>
<html>

<head>
<title>{{project.name}}</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<nav>

<h2>binES</h2>

<a href="/dashboard">
Dashboard
</a>

</nav>


<div class="container">


<div class="card">


<h1>
{{project.name}}
</h1>


<p>
Status:
<span class="status">
{{project.status}}
</span>
</p>


<div class="file">

File:
{{project.file}}

</div>


<a class="btn"
href="/download/{{project.file}}">
Download Source
</a>


<br>


<a class="btn"
href="/deploy/{{project.id}}">
Deploy
</a>


<div class="log">

<h2>
Build Log
</h2>

<pre>
{{project.log}}
</pre>

</div>


</div>


</div>

</body>
</html>
