<!DOCTYPE html>

<html>

<head>

<title>Register - binES</title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<div class="box">


<h1>
Create binES Account
</h1>


{% if error %}

<p style="color:#ef4444;">
{{error}}
</p>

{% endif %}



<form method="post">


<input
name="username"
placeholder="Username"
required
>


<input
type="password"
name="password"
placeholder="Password"
required
>


<button>
Register
</button>


</form>



<p style="margin-top:20px;">

Already have an account?

<a href="/login" style="color:#38bdf8;">
Login
</a>


</p>


</div>


</body>

</html>
